EXPO_PUBLIC_REOWN_PROJECT_ID=YOUR_REOWN_PROJECT_ID

EXPO_PUBLIC_CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS

EXPO_PUBLIC_COINGECKO_BASE_URL=https://api.coingecko.com/api/v3

EXPO_SEPOLIA_FAUCET_URL=https://cloud.google.com/application/web3/faucet/ethereum/sepolia